/*footer*/

footer {
  background-color: #24292D;
  padding: 60px 0 120px 0;
  color: white;
}

footer p {
  font-size: 13px;
  /*text-align: left;*/
}

li{
  list-style: none;
}
.footer-link{
  color: white;
  font-size: 13px;
  letter-spacing: 0.5px;
}
.footer-header {
  padding: 0 0 15px 0;
}

.footer-icon img {
  width: 30px;
  /*float: left;*/
  margin:10px 10px 0 0;
}
