.data-source{
  padding: 80px 20px 110px 20px;
  background-color: #1f8ceb;
  color: white;
}

.data-source-text {
  margin-bottom: 10px;
  font-size: 15px;
}

.request-demo {
    padding: 80px 20px 110px 20px;
    background-color: #1f8ceb;
    background-image: url("../img/blue-bg.jpg");
    color: white;
}

.request-demo h2 {
  line-height: 40px;
  letter-spacing: 0.03em;
}

.solution-header {
  padding: 100px 30px 0px 30px;
  background-color: #0978BD;
  background-image: url("../img/traffic-header.gif");
  background-size: cover;
}
